{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Alejandro De la O V.</h2>  
        <br>
        <p ALIGN="justify">Hola, mi nombre es Alejandro De la O y soy Ingeniero en Sistemas Computacionales, llevo en este mundillo algunos años, apasionado de lenguajes  de programación como Python y Javascript con tecnologías como Django y Angular js respectivamente, también me interesa, saliendo un poco del tema los deportes, como el futbol, surf y las artes marciales mixtas, pero mi verdadera pasión es enseñar y aprender y que mejor forma de aprender que enseñando.</p><br>
            <p ALIGN="justify">Nacido por allá de los 90's y un poco obsesionado con los videojuegos, empecé a programar de forma autodidacta con poco más de 18 años sin saber qué hacía.
            Al día de hoy programar es una de las actividades que no faltan en mi día a día.
            </p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p> -->
    </div>
</div>
{% endblock %}
