{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg2.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p ALIGN="justify">La pasión por la programación me ha llevado a crear este proyecto, al que llamo "Las sopitas de Alev" donde comparto las cosas que aprendo y más me gustan, así como también algunas curiosidades y una que otra cosa que no va al caso. En caso de querer poner viento en popa algún maravilloso proyecto, alguna colaboración o alguna tutoría si así lo prefieres ponerme al tanto.</p>
        <br>
        <p><b>Teléfono:</b> +52 744 293 4817</p>
        <p><b>Costos:</b> 200/h (precio base)</p>
    </div>
</div>
{% endblock %}

