{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/teclado.jpg' %}{% endblock %}

{% block headers %}
<h1>Héctor Costa Guzmán</h1>
<span class="subheading">un dia como hoy pierde el invicto el amreica</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p ALIGN="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nam praesentium, nesciunt culpa ipsam fuga tempora vero similique, alias quod adipisci recusandae hic beatae, et rerum a delectus? Totam, obcaecati.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, recusandae voluptate. Eveniet facere quod rerum provident perferendis, cumque vel iusto ratione alias sequi deserunt at molestias amet dolor temporibus facilis!.</p>
        <br>
        <p ALIGN="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero repellendus provident, laborum soluta harum reprehenderit vero labore eius aliquid consequuntur, maxime error quis quod corporis expedita autem modi beatae temporibus.</p>

        <br>
        <p ALIGN="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero repellendus provident, laborum soluta harum reprehenderit vero labore eius aliquid consequuntur, maxime error quis quod corporis expedita autem modi beatae temporibus.</p>

        <br>
        <p ALIGN="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero repellendus provident, laborum soluta harum reprehenderit vero labore eius aliquid consequuntur, maxime error quis quod corporis expedita autem modi beatae temporibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure asperiores architecto, doloribus expedita recusandae consectetur nihil dolorum sequi, quos at rem. Velit mollitia natus at officia libero aspernatur voluptates laudantium? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magni numquam quis natus neque laboriosam ad dignissimos veniam quo dolores sit eveniet, cumque assumenda nesciunt odit reprehenderit quas delectus impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est aliquam a nesciunt sapiente delectus itaque optio mollitia veritatis modi reprehenderit fuga tenetur quas maxime aspernatur ipsam, nobis consequatur magni.</p>
        
    </div>
</div>
{% endblock %}

