{% extends 'core/base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Nota 1</h1>
<span class="subheading">hola</span>
{% endblock %}

{% block content %}
<div class="row"> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit at hic assumenda a provident harum quo ullam pariatur ut corrupti numquam nam, minima earum animi fugiat nihil repellat minus.
</div>
{% endblock %}